<div class="super">
    <form name="vm.myForm" novalidate ng-submit="vm.myForm.$valid && vm.calculateCustomerCharges()">
        <table>
            <thead>
                <tr>
                    <th class="table-header" colspan="2">Enter the Meal Details</th>
                </tr>
                <tr>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="table-text">Base Meal Price: $</td>
                    <td>
                        <input type="number" id="meal-rice" name="mealPrice" min="0" ng-model="vm.mealPrice" required>
                    </td>
                </tr>
                <tr>
                    <td class="table-text">Tax Rate: % </td>
                    <td>
                        <input type="number" id="tax-rate" name="taxRate" min="0" ng-model="vm.taxRate" required>
                    </td>
                </tr>
                <tr>
                    <td class="table-text">Tip Percentage: %</td>
                    <td>
                        <input type="number" id="tip-percent" name="tipPercent" min="0" ng-model="vm.tipPercent" required>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr id="submission-row">
                    <td>
                        <input type="submit" id="submit" value="Submit">
                    </td>
                    <td>
                        <input type="button" id="cancel" value="Cancel" ng-click="vm.cancelMealData()">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </form>
    <div class="displayError ng-pristine" ng-if="vm.myForm.$submitted && vm.myForm.$invalid" ng-messages="vm.myForm.mealPrice.$error">
        <span class="error" ng-message="required">Meal Price is Mandatory!!</span>
    </div>
    <div class="displayError ng-pristine" ng-if="vm.myForm.$submitted && vm.myForm.$invalid" ng-messages="vm.myForm.taxRate.$error">
        <span class="error" ng-message="required">Tax Rate is Mandatory!!</span>
    </div>
    <div class="displayError ng-pristine" ng-if="vm.myForm.$submitted && vm.myForm.$invalid" ng-messages="vm.myForm.tipPercent.$error">
        <span class="error" ng-message="required">Tip Percent is Mandatory!!</span>
    </div>
</div>
